.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.black-bg {
  background-color: black;
}

/* HOME */

#bg-vid {
  position: fixed;
  width: 100%;
  object-fit: fill;
  z-index: -100;
}

#port-text .text-center a {
  font-family: 'Permanent Marker', cursive;
  font-size: 3.7em;
  text-decoration: none;
  color: #f5f5f5;
  text-shadow: 3px 3px 10px #FF0081, -3px -3px 10px #FF0081;
}

.blink {
    display: inline;
    color: inherit;
    animation: blink 1.2s steps(1) infinite;
    -webkit-animation: blink 1.2s steps(1) infinite;
}

@keyframes blink { 50% { color: transparent; } }
@-webkit-keyframes blink { 50% { color: transparent; } }

/* ABOUT */

.image-big-container {
  height: 100vh;
  position: relative;
}

.image-container {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-container img {
  height: 700px;
  width: 700px;
  padding: 50px;
  border: 2px #f5f5f5 solid;
  border-width: medium;
}

.image-container p {
  font-family: 'Libre Barcode 39 Extended Text';
  color: #f5f5f5;
  letter-spacing: 5px;
  font-size: 2em;
  margin-top: 30px;
}

.text-big-container {
  height: 100vh;
  position: relative;
}

.text-container {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.69);
  padding: 25px;
}

.wavy-bg {
  background-image: url('../img/wireframe-pattern.jpg');
  background-size: cover;
  border-left: 1px #f5f5f5 solid;
}

.text-container h1 {
  margin-bottom: 50px;
  font-size: 4em;
  border-bottom: 3px solid #f5f5f5;
}

.text-container p {
  font-size: 2em;
}

.text-container h1, p {
  font-family: 'VT323';
  color: #f5f5f5;
}

.nav-pills {
  display: flex;
  justify-content: space-around;
  font-size: 3em;
  font-family: 'VT323';
  margin-top: 25px;
}

.nav li a {
  color: white;
  padding: 0;
}

.nav li a:hover {
  background-color: black;
  text-decoration: underline;
}

/* CONTACT */

#overlay img {
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: -100;
}

form {
  width: 50%;
  margin-left: 470px;
  margin-top: 150px;
}

#fine-print {
  font-size: 2.3em;
  letter-spacing: 2px;
  text-shadow: 1px 1px 1px #000, 2px 2px 8px #D966A6;
}

.form-group label {
  font-family: 'VT323';
  font-size: 2.3em;
  color: white;
  letter-spacing: 3px;
  text-shadow: 1px 1px 1px #000, 2px 2px 1px #1BB1CC, -2px -2px 1px #1BB1CC;
}

.btn-default {
  font-family: 'VT323';
  margin-top: 40px;
  font-size: 2.4em;
  letter-spacing: 4px;
  border-radius: 10px;
  transition: all .7s ease;
}

.btn-default:hover {
  color: #f5f5f5;
  background-color: #000;
  border: 1px solid #000;
}

#contact-nav {
  margin-top: 45px;
  text-shadow: 1px 1px 1px #000, -2px -2px 1px #D966A6, 2px 2px 1px #D966A6;
}

#contact-nav a {
  padding: 10px;
  border-radius: 10px;
}

#contact-nav a:hover {
  background-color: transparent;
}
